extends ../layout
block content
  .main-content
    section.section
      .section-header
        h1= course.courseName
        .section-header-breadcrumb
          .breadcrumb-item.active
            a(href='#') Dashboard
          .breadcrumb-item.active
            a(href='#') Course
          .breadcrumb-item= course.courseName
      .section-body
        h2.section-title Information
        p.section-lead Change information about your course on this page.
        .row.mt-sm-4
          .col-12.col-md-12.col-lg-5
            .card.profile-widget
              .profile-widget-header
                img.rounded-circle.profile-widget-picture(alt='image', src= course.imageCover)
                .profile-widget-items
                  .profile-widget-item
                    .profile-widget-item-label Bought
                    .profile-widget-item-value= course.countBought
                  .profile-widget-item
                    .profile-widget-item-label Price
                    .profile-widget-item-value= course.price.toLocaleString("it-it", { style : "currency", currency: "VND"})
                  .profile-widget-item
                    .profile-widget-item-label Lecturer
                    .profile-widget-item-value= course.trainerName
              .profile-widget-description
                .profile-widget-name Course / 
                  .text-muted.d-inline.font-weight-normal
                    .slash= course.courseName 
                    div= course.shortDescription
              div(style='width: 100%; height: auto;')
                .study-video
                  video#video.cld-video-player.cld-fluid(controls, muted, loop, autoplay, data-default= course.demoVideoId)
              .card-body
                form.d-flex.flex-column(action="", method="post")
                  .mb-3
                    label.form-label(for='formFile') Choose File Maximum 100MB
                    input(type='file')
                  button.btn.btn-primary(type="submit") Change
            .card.profile-widget
              nav
                .card-header
                  h4 Edit Video/Images
                #nav-tab.nav.nav-tabs(role='tablist')
                  button#nav-edit-img-cover-tab.nav-link.active(data-bs-toggle='tab', data-bs-target='#nav-edit-img-cover', type='button', role='tab', aria-controls='nav-edit-img-cover', aria-selected='true') Image Cover
                  button#nav-edit-imageDetail-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-edit-imageDetail', type='button', role='tab', aria-controls='nav-edit-imageDetail', aria-selected='false') Image Detail 1
                  button#nav-edit-imageDetail1-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-edit-imageDetail1', type='button', role='tab', aria-controls='nav-edit-imageDetail1', aria-selected='false') Image Detail 2
                #nav-tabContent.tab-content.bg-light
                  #nav-edit-img-cover.tab-pane.fade.show.active.p-4(role='tabpanel', aria-labelledby='nav-edit-img-cover-tab') Image Cover
                    .card
                      img(src=course.imageCover, class="card-img-top", alt="...")
                    .card-body
                      form.d-flex.flex-column(action= `/admin/course/${course.slug}/updateImageCoverCourse`, method="post" , enctype="multipart/form-data") 
                        .mb-3
                          label.form-label(for='formFile') Choose File Maximum 10MB
                          input(type='file', name="fileUpload")
                        button.btn.btn-primary(type="submit") Change
                  #nav-edit-imageDetail.tab-pane.fade.p-4(role='tabpanel', aria-labelledby='nav-edit-imageDetail-tab') Image Detail 1
                    .card
                      img(src= course.detailDescription[0].imgURL, alt="")
                    .card-body
                      form.d-flex.flex-column(action= `/admin/course/${course.slug}/updateImageDetailOne`, method="post" , enctype="multipart/form-data") 
                        .mb-3
                          label.form-label(for='formFile') Choose File Maximum 10MB
                          input(type='file', name="fileUpload")
                        button.btn.btn-primary(type="submit") Change
                  #nav-edit-imageDetail1.tab-pane.fade.p-4(role='tabpanel', aria-labelledby='nav-edit-imageDetail1-tab') Image Detail 2
                    .card
                      img(src= course.detailDescription[1].imgURL, alt="")
                    .card-body
                      form.d-flex.flex-column(action= `/admin/course/${course.slug}/updateImageDetailTwo`, method="post", enctype="multipart/form-data") 
                        .mb-3
                          label.form-label(for='formFile') Choose File Maximum 10MB
                          input(type='file', name="fileUpload" )
                        button.btn.btn-primary(type="submit") Change
          .col-12.col-md-12.col-lg-7
            nav
              .card-header
                h4 Change Information
              #nav-tab.nav.nav-tabs(role='tablist')
                button#nav-edit-information-base-tab.nav-link.active(data-bs-toggle='tab', data-bs-target='#nav-edit-information-base', type='button', role='tab', aria-controls='nav-edit-information-base', aria-selected='true') Information Base
                button#nav-edit-information-detail-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-edit-information-detail', type='button', role='tab', aria-controls='nav-edit-information-detail', aria-selected='false') Detail Information
              #nav-tabContent.tab-content.bg-light
                #nav-edit-information-base.tab-pane.fade.show.active.p-4(role='tabpanel', aria-labelledby='nav-edit-information-base-tab')
                  .card
                    form.d-flex.flex-column(action= `/admin/course/${course.slug}/update-information-base`, method="post") 
                      .card-body
                        .form-row
                          .form-group.col-md-6
                            label(for='inputEmail4') Course Name
                            input#inputEmail4.form-control(name="courseName", type='text', placeholder='Course Name' value=course.courseName)
                          .form-group.col-md-6
                            label(for='inputPassword4') trainerName
                            input#inputPassword4.form-control(name="trainerName", type='text', placeholder='Trainer Name' value= course.trainerName)
                          .form-group.col-md-6
                            label(for='price') Price
                            input#price.form-control(name="price",type='text', placeholder='Price' value=course.price.toLocaleString("it-it", { style : "currency", currency: "VND"}))
                          .form-group.col-md-6
                            label(for='shortDescription') Short Description
                            textarea#shortDescription.form-control(name="shortDescription", type='text', placeholder='Short Description')=course.shortDescription
                      .card-footer
                        button.btn.btn-primary Save
                #nav-edit-information-detail.tab-pane.fade.p-4(role='tabpanel', aria-labelledby='nav-edit-information-detail-tab')
                  .card
                    form.d-flex.flex-column(action= `/admin/course/${course.slug}/update-information-detail`, method="post") 
                      .card-body
                        .form-row
                          .form-group.col-md-6
                            label(for='inputEmail4') Title Detail One
                            input#inputEmail4.form-control(name="title1", type='text', placeholder='title' value=course.detailDescription[0].title)
                          .form-group.col-md-6
                            label(for='inputPassword4') Title Detail Two
                            input#inputPassword4.form-control(name="title2", type='text', placeholder='Trainer Name' value=course.detailDescription[1].title)
                          .form-group.col-md-6
                            label(for='price') Content Detail One
                            input#price.form-control(name="content1",type='text', placeholder='Price' value=course.detailDescription[0].content)
                          .form-group.col-md-6
                            label(for='price') Content Detail Two
                            input#price.form-control(name="content2",type='text', placeholder='Price' value=course.detailDescription[1].content)
                      .card-footer
                        button.btn.btn-primary Save
      .section-body
        h2.section-title
          a.btn.btn-primary(href=`/admin/course/${course.slug}/add/section`) Add New Section
      if course.sectionId.length > 0
        each section in course.sectionId
          .section-body
            h2.section-title= `${section.sectionTitle} `
              a.btn.btn-primary(href=`/admin/course/${course.slug}/${section.slug}/add/lesson`) Add Lesson
            p.section-lead= section.sectionDescription
            .row
              each lesson in section.lessonId
                .col-12.col-sm-6.col-md-6.col-lg-3
                  article.article
                    .article-header
                      .article-image(data-background='/admin/img/news/img08.jpg')
                      .article-title
                        h2
                          a(href='#')= lesson.lessonTitle
                    .article-details
                      p= lesson.lessonDescription
                      .article-cta
                        a.btn.btn-primary(href= `/admin/course/${course.slug}/${section.slug}/${lesson.slug}`) Read More